span{
    color: #fff;
    font-size: 1.8em;
    padding-left: 0.2em;
}
img{
    padding: 0.1em;
}
p{
    color: #32568E;
    margin-top: 0.6em;
    margin-bottom: 0.4em;
    font-weight: bold;
    
}
.block{
    width: 50%;
    display: inline-block;
    margin-bottom: 0.4em;
}