.App{
  display: block;
  background-color: #699dec;
  width: 100%;
  min-height: 100%;
  position: absolute;
}


footer{
  min-height: 6em;
  position: relative;
}
footer img{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}